@model HomeVM
<div class="tm-section tm-bg-img" id="tm-section-1">
    <div class="tm-bg-white ie-container-width-fix-2">
        <div class="container ie-h-align-center-fix">
            <div class="row">
                <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                    <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-element tm-form-element-100">
                                <i class="fa fa-map-marker fa-2x tm-form-element-icon"></i>
                                <input name="city" type="text" class="form-control" id="inputCity" placeholder="Type your destination...">
                            </div>
                            <div class="form-group tm-form-element tm-form-element-50">
                                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="Check In">
                            </div>
                            <div class="form-group tm-form-element tm-form-element-50">
                                <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                                <input name="check-out" type="text" class="form-control" id="inputCheckOut" placeholder="Check Out">
                            </div>
                        </div>
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select name="adult" class="form-control tm-select" id="adult">
                                    <option value="">Adult</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select name="children" class="form-control tm-select" id="children">
                                    <option value="">Children</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <i class="fa fa-user tm-form-element-icon tm-form-element-icon-small"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select name="room" class="form-control tm-select" id="room">
                                    <option value="">Room</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                <i class="fa fa-2x fa-bed tm-form-element-icon"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <button type="submit" class="btn btn-primary tm-btn-search">Check Availability</button>
                            </div>
                        </div>
                        <div class="form-row clearfix pl-2 pr-2 tm-fx-col-xs">
                            <p class="tm-margin-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="ie-10-ml-auto ml-auto mt-1 tm-font-semibold tm-color-primary">Need Help?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="tm-section-title">We are here to help you?</h2>
                <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
                <a href="#" class="tm-color-white tm-btn-white-bordered">Subscribe Newletters</a>
            </div>
        </div>
    </div>
</div>

<div class="tm-section tm-position-relative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
        <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
    </svg>
    <div class="container tm-pt-5 tm-pb-4">
        <div class="row text-center">
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-legal tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Level HTML Template by Tooplate website</h3>
                <p>You are allowed to download, edit and use this template for your business or client websites.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-plane tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Original Website Template Producer</h3>
                <p>You are NOT allowed to re-distribute the downloadable template ZIP file on any website.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
                <i class="fa tm-fa-6x fa-life-saver tm-color-primary tm-margin-b-20"></i>
                <h3 class="tm-color-primary tm-article-title-1">Contact us if you have any question</h3>
                <p>If you see this template being distributed on any other site, that is an illegal copy.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
            </article>
        </div>
    </div>
</div>

<div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="tm-article-carousel">
                    @foreach (Tour t in Model.Tours)
                    {
                        <article class="tm-bg-white mr-2 tm-carousel-item">
                            <img src="@t.Picture" alt="@t.Name" class="img-fluid">
                            <div class="tm-article-pad">
                                <header>
                                    <h3 class="text-uppercase tm-article-title-2">
                                        @t.Name -
                                    @(t.Country == null ? "Ülke Belirtilmedi" : t.Country.Name)
                                </h3>
                            </header>
                            <p>@t.Description</p>
                            <a asp-controller="Tour" asp-action="Detail" asp-route-name="@t.Name" class="text-uppercase btn-primary tm-btn-primary">Detaylı Bilgi</a>
                        </div>
                    </article>
                }
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
                <div class="tm-bg-white">
                    <div class="tm-bg-primary tm-sidebar-pad">
                        <h3 class="tm-color-white tm-sidebar-title">Recommended Places</h3>
                        <p class="tm-color-white tm-margin-b-0 tm-font-light">Enamel pin cliche tilde, kitsch and VHS thundercats</p>
                    </div>
                    <div class="tm-sidebar-pad-2">
                        @foreach (Country c in Model.Countries)
                        {
                            <a asp-controller="Tour" asp-action="CountryPages" asp-route-name="@c.Name" class="media tm-media tm-recommended-item">
                                <img src="@c.Picture" alt="@c.Name">
                                <div class="media-body tm-media-body tm-bg-gray">
                                    <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">@c.Name</h4>
                                </div>
                            </a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tm-bg-video">
    <div class="overlay">
        <i class="fa fa-5x fa-play-circle tm-btn-play"></i>
        <i class="fa fa-5x fa-pause-circle tm-btn-pause"></i>
    </div>
    <video controls="" loop="" class="tmVideo">
        <source src="videos/video.mp4" type="video/mp4">
        <source src="videos/video.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">
        <div class="container ie-h-align-center-fix">
            <div class="row tm-flex-align-center">
                <div class="col-xs-12 col-md-12 col-lg-3 col-xl-3 tm-media-title-container">
                    <h2 class="text-uppercase tm-section-title-2">ASIA</h2>
                    <h3 class="tm-color-primary tm-font-semibold tm-section-subtitle-2">Singapore</h3>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
                    <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
                        @foreach (News n in Model.News)
                        {
                            <article class="media tm-margin-b-20 tm-media-1">
                                <img src="@n.Picture" alt="@n.Title">
                                <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                    <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">"@n.Title"</h3>
                                    <p>@n.Description</p>
                                    <span style="color:blue">@n.Category.Name</span>
                                </div>
                            </article>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="tm-section-6">
    <div class="container ie-h-align-center-fix">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
                <div id="google-map"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 mt-3 mt-md-0">
                <div class="tm-bg-white tm-p-4">
                    <form asp-controller="Home" asp-action="Contact" method="post" class="contact-form">
                        <div class="form-group">
                            <input asp-for="@Model.Contact.Name" class="form-control" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.Contact.Email" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.Contact.Subject" class="form-control" placeholder="Subject" />
                        </div>
                        <div class="form-group">
                            <textarea asp-for="@Model.Contact.Message" class="form-control" rows="9" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary tm-btn-primary">Mesaj Gönder</button>
                        <span style="color:red">@TempData["iletisimMesaj"]</span> @Html.AntiForgeryToken();
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 